@page "/"
@using SettlementManager.Web.Services.Settlements
@rendermode InteractiveServer
@inject ISettlementService SettlementService

<PageTitle>Settlement Manager App</PageTitle>

<h3>Settlements</h3>

<div class="input-group mb-3" style="max-width: 300px">
    <input class="form-control" @bind="SettlementService.Search" type="text" placeholder="Search settlements...">
    <div class="input-group-append">
        <button class="btn btn-outline-primary mx-2" @onclick="SettlementService.SearchSettlements">Search</button>
    </div>
</div>

@if (SettlementService.CurrentResponse is null || SettlementService.CurrentResponse.TotalCount == 0)
{
    <button class="btn btn-primary mb-3" @onclick="SettlementService.OpenAddSettlementModal">Add New Settlement</button>
}

<SettlementTable CurrentResponse="SettlementService.CurrentResponse"
                 PageSize="SettlementService.PageSize"
                 OnPageSizeChange="SettlementService.ChangePageSize"
                 OnAddSettlement="SettlementService.OpenAddSettlementModal"
                 OnEditSettlement="SettlementService.OpenEditSettlementModal"
                 OnDeleteSettlement="SettlementService.OpenDeleteConfirmationModal"
                 OnSearchSettlements="SettlementService.SearchSettlements"
                 OnNextPage="SettlementService.NextPage"
                 OnPreviousPage="SettlementService.PreviousPage"
                 OnLastPage="SettlementService.LastPage" />


<AddSettlementModal IsOpen="SettlementService.IsAddSettlementModalOpen"
                    NewSettlement="SettlementService.NewSettlement"
                    Countries="SettlementService.Countries"
                    OnClose="SettlementService.CloseAddSettlementModal"
                    OnSave="SettlementService.SaveSettlementAsync"
                    OnCancel="SettlementService.CloseAddSettlementModal"/>

<EditSettlementModal IsOpen="SettlementService.IsEditSettlementModalOpen"
                     EditSettlement="SettlementService.EditSettlement"
                     Countries="SettlementService.Countries"
                     OnClose="SettlementService.CloseEditSettlementModal"
                     OnSave="SettlementService.SaveEditedSettlement"
                     OnCancel="SettlementService.CloseEditSettlementModal"/>

<DeleteSettlementModal IsOpen="SettlementService.IsDeleteConfirmationModalOpen"
                       SelectedSettlement="SettlementService.SelectedSettlement"
                       OnClose="SettlementService.CloseDeleteConfirmationModal"
                       OnDelete="SettlementService.DeleteSettlement"
                       OnCancel="SettlementService.CloseDeleteConfirmationModal"/>

@code {

    protected override async Task OnInitializedAsync()
    {
        SettlementService.OnDataChanged = StateHasChanged;
        await SettlementService.GetSettlementsAsync(SettlementService.Search, SettlementService.PageNumber, SettlementService.PageSize);
    }

}